/****************** FONT ************************/
@font-face {
   font-family: "Eurostile";
   src: url("../fonts/Eurostile.ttf");
}

/****************** VARIABLES ************************/
$color-grey: #30404D;
$color-blue: #1CA8F9;
$color-blue-light: #89D5F5;
$color-white: #FFFFFF;

$font-eurostile: "Eurostile";

/****************** GENERAL RESET ************************/
html, body {
   background-color: $color-grey;
   font-family: $font-eurostile;
   // padding: 0px;
   // margin: 0px;
}

a {
   text-decoration: none;

   &:hover {
      text-decoration: none;
      transition: all 0.2s ease-out;
   }
}

/****************** MAIN STYLE ************************/
.container {

   margin-top: 50px;
   .header {
      margin: 10px;

      h1 {
         font-size: 5em;
         font-weight: bold;
         color: $color-blue-light;
         margin-bottom: 40px;
         // Keep on top of snow animation
         position: relative;
         z-index: 200;
      }
      
      p {
         font-size: 1.9em;
         color: $color-white;
         letter-spacing: 2px;
         margin-bottom: 50px;
         // Keep on top of snow animation
         position: relative;
         z-index: 200;
      }

      a {
         background-color: $color-blue;
         color: $color-white;
         font-weight: bold;
         letter-spacing: 2px;
         padding: 12px 18px;
         text-transform: uppercase;
         border: 2px solid $color-white;

         // Keep on top of snow animation
         position: relative;
         z-index: 200;

         &:hover {
            background-color: darken($color-blue, 20%);
         }

         
      }
   }

   img {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      //z-index: 0;
   }

   #snow {
      background-image: url('../../img/background.png');
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      animation: snow 26s linear infinite ;
   }

   // Snow animation
   @keyframes snow {
      0% {
         background-position: 0px 0px;
      }
      100% {
         background-position: 500px 1000px;
      }
      // 100% {
      //    background-position: 500px 1000px;
      // }
   }
}